---
layout: page
title: Tags
header: Posts por Tag
group: navigation
fb_title: Virtua Creative Blog - Tags
pg_type: tags
tagline: Encontre artigos por tag (palavra-chave)
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="col-md-8 col-sm-12 col-xs-12">
	<div>
    		<ul class="nav nav-tabs-vertical">
    		{% for item in (0..site.tags.size) %}{% unless forloop.last %}
      		{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
			<li>
				<a class="btn btn-primary btn-sm3" role="button" data-toggle="collapse" href="#{{ this_word | replace:' ','-' }}-ref" aria-expanded="false" aria-controls="collapseExample">
			   {{ this_word }}<span class="badge pull-right">{{ site.tags[this_word].size }}</span>
				</a>
			</li>
			<li>
				<div class="collapse stl-tag" id="{{ this_word | replace:' ','-' }}-ref">
		  			<div class="well">			   
						<h2 style="margin-top: 0px">Posts com a tag <mkp-blue> {{ this_word }}</mkp-blue></h2>
			  			<ul class="list-unstyled">
						{% for post in site.tags[this_word] %}{% if post.title != null %}
				  			<li class="taglist-item" style="line-height: 35px;"><a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a> <span class="text-muted">- {{ post.date | date: "%d/%m/%Y" }}</span>
							</li>
						{% endif %}{% endfor %}
			  			</ul>
		  			</div>	
				</div>
			</li>
		{% endunless %}{% endfor %}
		</ul>
	</div>
</div>

<div class="clearfix"></div>