<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt">
 {% if page.fb_title %}<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">{% else %}<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ site.fb_app.namespace }}: http://ogp.me/ns/fb/{{ site.fb_app.namespace }}#">{% endif %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.fb_description }}">{% endif %}
	{% if page.author %}<meta name="author" content="{{ page.author }}">{% else %}<meta name="author" content="{{ site.author.name }}">{% endif %}
	{% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}">{% else %}<meta name="keywords" content="{{ site.meta_keywords }}">{% endif %}
	<!-- Facebook OG tags -->
	<meta property="fb:app_id" content="{{ site.fb_app.app_id }}"/>
	<meta property="fb:admins" content="{{ site.fb_app.app_admin }}"/>
	<meta property="og:site_name" content="Virtua Creative Blog" />
	{% if page.fb_title %}<meta property="og:title" content="{{ page.fb_title }}">{% else %}<meta property="og:title" content="{{ site.description }}">{% endif %}
	{% if page.fb_type %}<meta property="og:type" content="article">{% else %}<meta property="og:type" content="{{ site.fb_app.namespace }}:blog">{% endif %}
	{% if page.description %}<meta property="og:description" content="{{ page.description }}">{% else %}<meta property="og:description" content="{{ site.fb_description }}">{% endif %}
	{% if page.fb_title %}<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">{% else %}<meta property="og:url" content="{{ site.baseurl | replace: 'index.html','' }}/">{% endif %}	
	{% if page.language %}<meta property="og:locale" content="pt_BR" />{% for language in page.language %}<meta property="og:locale:alternate" content="{{ language }}" />{% endfor %}{% else %}<meta property="og:locale" content="pt_BR" />{% endif %}
	{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
	<meta property="article:publisher" content="{{ site.baseurl | replace: 'index.html','' }}/" />{% endif %}
	{% if page.date_update %}<meta property="article:modified_time" content="{{ page.date_update | date_to_xmlschema }}">{% endif %}
	{% if page.fb_type %}<meta property="article:author" content="http://www.facebook.com/{{ page.author_fb }}">{% else %}
	<meta property="{{ site.fb_app.namespace }}:author" content="http://www.facebook.com/{{ site.author.facebook }}">{% endif %}
	{% if page.image %}<meta property="og:image" content="{{ page.image }}">{% else %}
	<meta property="og:image" content="{{ site.share_image }}">{% endif %}
	{% if page.fb_section %}<meta property="article:section" content="{{ page.fb_section }}">{% endif %}
	{% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}">{% endfor %}{% endif %}
	{% if page.fb_type %}{% for post in site.related_posts limit:3 %}<meta property="og:see_also" content="{{ site.baseurl }}{{ post.url }}">{% endfor %}{% endif %}
	<!-- Facebook OG tags -->	
	<!-- Twitter card tags -->
	<meta name="twitter:card" content="summary_large_image">	
	<meta name="twitter:site" content="@{{ site.author.twitter }}">
	<meta name="twitter:creator" content="@{{ site.author.twitter }}">
	<meta name="twitter:title" content="{% if page.fb_title %}{{ page.fb_title }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.fb_description }}{% endif %}">
	<meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{site.share_image}}{% endif %}">	
	<!-- Twitter card tags -->	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Le styles -->
	<link href="{{ site.baseurl }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/assets/css/animate.css" rel="stylesheet">
	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
	<link rel="canonical" title="{{ site.description }}" href="{{ site.baseurl | replace:'index.html','' }}/">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml">
	<link rel="shortcut icon" href="http://virtuacreative.github.io/git/img/favicon.ico" type="image/x-icon">
	<link rel="author, nofollow" href="https://plus.google.com/+{{ site.author.googleplus }}">
	{% if page.copy %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/resources/modernizr/modernizr-custom.js"></script>
	<script src="{{ site.baseurl }}/assets/resources/jquery/jquery.swfobject.1-1-1.min.js"></script>
	<script src="{{ site.baseurl }}/assets/resources/clipboard/ZeroClipboard.js"></script>
	<script src="{{ site.baseurl }}/assets/resources/clipboard/main.js"></script>
    <script>
    $(document).ready(function() {
            var clientTarget = new ZeroClipboard( $(".target-to-copy"), {
              moviePath: "{{ site.baseurl }}/assets/resources/clipboard/ZeroClipboard.swf",
              debug: false
            } );   
        });
    </script>
    {% endif %}
 </head>
 <body>
 	{% if page.copy %}
 	<script type="text/javascript">
 			function hasFlash()
 			{
 				if(swfobject.hasFlashPlayerVersion("1"))
 				{
 					$('html').addClass('flash');
 				}
 				else
 				{
 					$('html').addClass('noflash');
 				}
 			}
 		</script>
 	 {% endif %}
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId      : '{{ site.fb_app.app_id }}',
		  xfbml      : true,
		  version    : 'v2.4'
		});
	  };

	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if site.author.twitter %}
				<a rel="nofollow" class="navbar-toggle nav-link" type="button"  href="https://twitter.com/intent/follow?screen_name={{ site.author.twitter }}">
					<i class="fa fa-twitter"></i>
				</a>
			{% endif %}
			{% if site.author.googleplus %}
				<a rel="nofollow" type="button" class="navbar-toggle nav-link" target="_blank" href="https://plus.google.com/+{{ site.author.googleplus }}">
					<i class="fa fa-google-plus"></i>
				</a>
			{% endif %}
			{% if site.author.email %}
				<a rel="nofollow" type="button" class="navbar-toggle nav-link" target="_blank" href="mailto:{{ site.author.email }}">
					<i class="fa fa-envelope"></i>
				</a>
			{% endif %}
			<a rel="nofollow" class="navbar-brand" href="{{ site.baseurl }}/">
				<img src="http://goo.gl/JjzjsU" width="25%" />
				{{ site.title }}
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{{ site.baseurl }}/">Artigos</a></li>
				<li><a href="{{ site.baseurl }}/{{ site.categories_path }}">Categorias</a></li>
				<li><a href="{{ site.baseurl }}/{{ site.tags_path }}">Tags</a></li>
				<li><a href="{{ site.baseurl }}/{{ site.copyright_path }}">Termos</a></li>			
				<li class="divider-1"></li>
				<li><a href="http://virtuacreative.github.io/git/">Home</a></li>
				<li><a href="http://virtuacreative.github.io/git/about.html">Sobre</a></li>
				<li><a href="http://virtuacreative.github.io/git/contact.html">Contato</a></li>
				<li><a href="http://www.virtuacreative.com.br/">Oficial</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	<!-- nav-menu-dropdown -->
	<div class="btn-group hidden-xs" id="nav-menu">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ site.baseurl }}/"><i class="fa fa-list"></i>&nbsp;&nbsp;Artigos</a></li>
			<li><a href="{{ site.baseurl }}/{{ site.categories_path }}"><i class="fa fa-folder"></i>&nbsp;&nbsp;Categorias</a></li>
			<li><a href="{{ site.baseurl }}/{{ site.tags_path }}"><i class="fa fa-tags"></i>&nbsp;&nbsp;Tags</a></li>
			<li><a href="{{ site.baseurl }}/{{ site.copyright_path }}"><i class="fa fa-info"></i>&nbsp;&nbsp;Termos</a></li>	
			<li class="divider"></li>
			<li><a href="http://virtuacreative.github.io/git/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
			<li><a href="http://virtuacreative.github.io/git/about.html"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Sobre</a></li>
			<li><a href="http://virtuacreative.github.io/git/contact.html"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Contato</a></li>
			<li><a href="http://www.virtuacreative.com.br/"><i class="fa fa-star"></i>&nbsp;&nbsp;Oficial</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Topo da Página</a></li>
		</ul>
	</div>

	<div class="col-sm-3 sidebar hidden-xs">
		{% include sidebar.html %}
	</div>

	<div class="header-color col-sm-9 col-sm-offset-3 animated fadeIn">
		{{ content }}

		<footer>
			<hr/>
			<p style="text-align: center">
				&copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/{{ site.copyright_path }}" title="Copyright Notice">{{ site.author.name }}</a>. <a href="http://www.virtuacreative.com.br/">Virtua Creative Technology</a> by <a href="https://plus.google.com/u/0/+MarciaDiasRamosMD/posts">RamosMD</a>. All rights reserved. Code only under <a href="http://opensource.org/licenses/MIT">MIT</a> License. Brands here exposed for <a href="{{ site.baseurl }}/{{ site.copyright_path }}" title="Termos e Condições">illustration purposes</a> only.
			</p>
		</footer>
	</div>
	{% if page.copy %} 
	{% else %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/resources/jquery/jquery.min.js">		</script>
	{% endif %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-65885766-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	<script type="application/ld+json">
	{ "@context" : "http://schema.org",
	  "@type" : "Organization",   
	  "name" : "Virtua Creative Technology",
	  "logo" : "http://2.gravatar.com/avatar/6fa7e8a0b8a820fa63c7cfd1833b1be4",
	  "email" : "info@virtuacreative.com.br",
	  "description" : "Criação de Websites | Artes gráficas & Fotografia | Redação & Tradução!",
	  "telephone" : "00554196406043",
	  "url" : "http://www.virtuacreative.com.br",
	  "sameAs" : [ "http://www.facebook.com/virtuacreative",
	    "http://www.twitter.com/virtuacreative",
	    "https://github.com/VirtuaCreative",
	    "https://www.flickr.com/photos/virtuacreative/",
	    "http://virtuacreative.github.io/git/",
	    "http://virtuacreative.github.io/blog/",
	    "http://plus.google.com/+VirtuacreativeBrWebsites/"]        
   }
	</script>
</body>
</html>