<div class="page-header" itemscope="" itemtype="http://schema.org/Blog">
	<meta itemprop="name"
			content="Virtua Creative Blog" />
	<meta itemprop="url"
			content="http://virtuacreative.github.io/blog/" />
	<div itemprop="isPartOf" itemscope="" itemtype="http://schema.org/Website">
		<meta itemprop="name"
			content="Virtua Creative & GitHub" />
		<meta itemprop="url"
			content="http://virtuacreative.github.io/git/" />	
		<div itemprop="isPartOf" itemscope="" itemtype="http://schema.org/CreativeWork">
			<meta itemprop="name"
				content="Virtua Creative Technology" />
			<meta itemprop="url"
				content="http://www.virtuacreative.com.br/" />
			<div itemprop="creator" itemscope itemtype="http://schema.org/Person" >
			<meta itemprop="name"
				content="Marcia Ramos" />
			<meta itemprop="url" rel="creator"
				content="https://plus.google.com/+MarciaDiasRamosMD/" />
			<meta itemprop="email" rel="creator"
				content="virtua.creative@gmail.com" />	
			</div>
		</div>
	</div>
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

{{ content }}