<div class="page-header" itemscope="" itemtype="http://schema.org/Blog">
	<meta itemprop="name" content="Virtua Creative Blog" />
	<meta itemprop="url" content="http://virtuacreative.github.io/blog/" />
	<meta itemprop="image" content="https://goo.gl/W4LM8b" />
	<meta itemprop="description" content="Tutoriais e dicas de desenvolvimento de websites, web design, arte e fotografia!" />
		<div itemprop="isPartOf" itemscope="" itemtype="http://schema.org/Website">
			<meta itemprop="name" content="Virtua Creative & GitHub" />
			<meta itemprop="url" content="http://virtuacreative.github.io/git/" />	
			<div itemprop="isPartOf" itemscope="" itemtype="http://schema.org/CreativeWork">
				<meta itemprop="name" content="Virtua Creative Technology" />
				<meta itemprop="url" content="http://www.virtuacreative.com.br/" />
				<div itemprop="creator" itemscope itemtype="http://schema.org/Person" >
					<meta itemprop="name" content="Marcia Ramos" />
					<meta itemprop="url" rel="creator" content="https://plus.google.com/+MarciaDiasRamosMD/" />
					<meta itemprop="email" rel="creator" content="virtua.creative@gmail.com" />	
				</div>
			</div>
		</div>
  	<h1>{{ page.title }} </h1>
  	{% if page.tagline %}<p style="padding: 10px 0px 0px 5px !important"><small style="color: #999">{{ page.tagline }}</small></p>{% endif %}
</div>
{{ content }}