<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://virtuacreative.github.io/git/img/logo-3.svg" width="40%" />
	</a>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
	<p style="text-align: center; line-height: 2em">Blog</p>
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a rel="nofollow" class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.flickr %}
		<li>
			<a rel="nofollow" class="btn btn-default btn-sm" href="https://www.flickr.com/photos/{{ site.author.flickr }}">
				<i class="fa fa-flickr fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a rel="nofollow" class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		{% if site.author.twitter %}
		<li>
			<a rel="nofollow" class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.facebook %}
		<li>
			<a rel="nofollow" class="btn btn-default btn-sm" href="https://www.facebook.com/{{ site.author.facebook }}">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<!-- sidebar.html end -->
