.article_body table {
	width: 100%;
} 
@media screen and (max-width: 479px) {
	.article_body table {
		width: auto;
		display: block;
		overflow: auto;
		overflow-x: scroll;
		white-space: nowrap;
		border-collapse: collapse;
		border-spacing: 0;
		clear: both;
		-webkit-overflow-scrolling:touch;
		touch-action: auto;
		-ms-touch-action: auto;
	} 	
}

/* @media queries for Chrome 29+ only */

/* this query fixes issue on Chrome for Android, reported at: 
http://stackoverflow.com/questions/36392311/css-displayblock-not-working-on-chrome-for-android/36527157
*/

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) and (max-width: 479px) {
    .fadeIn {
    	display: initial;
    	margin-left: 5% !important;
    }
    article {
    	padding-left: 5%;
    	padding-right: 5%;
    }
    td pre.lineno {
    	max-width: inherit;
    } 
}
